.mod-login {
 display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  width: 300px;
  min-height: 400px;
  border: 2px solid #fff;
}

.login-wrapper__from {
  display: flex;
  flex-flow: column;
}

.login-wrapper__title {
  font-size: 28px;
  margin-bottom: 40px;
}

.login-wrapper-from__group input {
  height: 35px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  padding: 15px;

}

.login-wrapper-from__group {
  margin-bottom: 30px;
}

.login-wrapper-from__button {
  width: 150px;
  height: 35px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  margin-left: auto;
  cursor: pointer;
}

.login-wrapper-from__button:hover {
  color: #000;
  background-color: #fff;
}

.login-wrapper-from__error {
  font-size: 12px;
  color: red;
}

.is-invalid {
  border: 2px solid red;
}

.login-wrapper-from__error-container {
    margin-bottom: 20px;
}
