<div class="modal-wrapper">
    <div class="modal-login">
        <div class="modal-wrapper__close"></div>
        <div class="modal-wrapper__title">Вход</div>
        <form action="#" method="POST">
            <div class="modal-wrapper__form">
                <div class="modal-wrapper-form__group">
                    <label for="login-email">Email:</label>
                    <input type="text" id="login-email" class="modal-wrapper-form__input">
                </div>
                <div class="modal-wrapper-form__group">
                    <label for="login-password">Пароль:</label>
                    <input type="password" id="login-password" class="modal-wrapper-form__input">
                </div>
                <button type="submit" class="modal-wrapper-form__button">Войти</button>
            </div>
        </form>
    </div>
</div>