<div tabindex="0" autofocus class="sidebar-wrapper js-sidebar">
    <div class="sidebar-wrapper__close modal-wrapper__close js-sidebar-close"></div>
    <div class="sidebar__forms">
        <div class="sidebar__form js-modal-open" data-modal-open="callback">Обратный звонок</div>
        <div class="sidebar__form js-modal-open" data-modal-open="login">Вход</div>
        <div class="sidebar__form js-modal-open" data-modal-open="register">Регистрация</div>
    </div>
</div>