{% extends "template/layout.twig" %}

{% block page %}
    <div class="main-wrapper" style="background-image: url('img/background0.jpg')">
        {% include './template/partials/header.twig' %}
        <div class="content main-content mod-center">
            <div class="main-header__row mod-center">
                <div class="main-title-container">
                    <h1 class="main-title">Reflection Of Us</h1>
                    <div class="main-subtitle">Cover Dance Team</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper main-cards-container" style="background-image: url('img/background1.jpg')">
        <full-description></full-description>
        <main-cards coefficient="15"></main-cards>
    </div>
    <login-form url="/login" method="POST"></login-form>
    <register-form url="/register" method="POST"></register-form>
    <callback-form url="/callback" method="POST"></callback-form>

{% endblock %}
