<div class="sidebar-wrapper">
    <div class="sidebar-wrapper__title">Разделы</div>
    <div class="sidebar-wrapper__items">
        <div class="sidebar-wrapper__item">
            <div class="sidebar-wrapper-item__wrapper js-menu-item" data-toggle="1">
                <div class="sidebar-wrapper-item__icon"
                     style="background-image: url('/img/members.svg')"></div>
                <div class="sidebar-wrapper-item__text">Участники</div>
            </div>
            <div class="sidebar-wrapper-item__sub-items js-menu-item-toggle" data-toggle="1">
                <div class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>12332323</div>
                </div>
                <div class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>12323</div>
                </div>
                <div class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>12312</div>
                </div>
                <div class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>12342</div>
                </div>
                <div class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>1234</div>
                </div>
            </div>
        </div>
        <div class="sidebar-wrapper__item">
            <div class="sidebar-wrapper-item__wrapper js-menu-item" data-toggle="2">
                <div class="sidebar-wrapper-item__icon"
                     style="background-image: url('/img/news.svg')"></div>
                <div class="sidebar-wrapper-item__text">Новости</div>
            </div>
            <div class="sidebar-wrapper-item__sub-items js-menu-item-toggle"  data-toggle="2">
                <a href="#" class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>Список</div>
                </a>
                <a href="#" class="sidebar-wrapper-item__sub-item">
                    <div class="item__sub-item__dot"></div>
                    <div>Категории</div>
                </a>
            </div>
        </div>
    </div>
</div>