<!DOCTYPE html>
<html lang="ru">
{% include 'partials/head.twig' %}
<body>
<div id="app">
    {% block page %}{% endblock %}
    {% include 'partials/sidebar.twig' %}
</div>
<script src="js/app.js"></script>
</body>
</html>
