<!DOCTYPE html>
<html>
{% include 'partials/head.twig' %}
<body>
<div id="app" class="main-wrapper">
    {% block page %}{% endblock %}
</div>
<script src="https://cdn.tiny.cloud/1/1g8rwzyd2iskdag55e8oxkp5varccjk636062t3ngryty4vf/tinymce/5/tinymce.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>